html, body {
  height: 100%; /* Ensures that the body and html occupy the full height of the viewport */
  margin: 0;
}

#root {
  height: 100%; /* Ensures that the root div (created by React) takes full height */
}

.App-header {
  background: url('https://wallpaperaccess.com/full/1947484.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  color: white;
  padding: 100px 0;
  /* height: 100vh; Ensure it covers the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #007acc;
  color: white;
  padding: 50px 0;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* width: 200px;
  height: 200px; */
}

h1 {
  font-size: 3rem;
  margin: 10px 0;
}

/* h2 {
  font-size: 1.5rem;
  color:white; 
  margin: 5px 0;
} */

.button{
  background-color: white;
  color: #007acc;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}


button:hover {
  color: white;
  background-color: #007acc;  
}

.Main{
  height:500px;
  width:700px;
  position :relative;
  top:-40px;
}
